<%- include('../partials/header') %>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/flights/show.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <title>Flight Details</title>
        <div class="heading">Flight Details</div>
        <table id="flight-details" class="table table-striped">
            <tr>
                <td>Airline:</td>
                <td><%= flight.airline%></td>
            </tr>
            <tr>
                <td>Airport:</td>
                <td><%= flight.airport%></td>
            </tr>
            <tr>
                <td>Flight No.:</td>
                <td> <%= flight.flightNo%></td>
            </tr>
            <tr>
                <td>Departs:</td>
                <td><%= flight.departs%></td>
            </tr>
        </table>

        <div class="dest-heading">Destinations</div>
        <form id="destination-form" method="POST" action="/flights/<%= flight._id%>/destinations">
            <label id="airport-label">Airport:</label>
            <select name="airport">
                <option value="ICN" selected>ICN</option>
                <option value="SFO">SFO</option>
                <option value="KUL">KUL</option>
                <option value="LAX">LAX</option>
                <option value="HKG">HKG</option>
            </select>
            <label id="arrival-label">Arrival:</label>
            <input name="arrival" type="datetime-local">
            <input type="submit" value="Select Destination">
        </form>

        <% if (flight.destinations.length) { %>
            <table id="destinations-table" class="table table-striped">
                <thead>
                    <tr>
                        <th class="destHead">Date</th>
                        <th class="destHead">Airport</th>
                        <th class="destHead">Arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Sort array by arrival -->
                    <% flight.destinations.sort(function(a,b) { %>
                        <% return (a.arrival - b.arrival) %>
                            <% }) %>
                                <% flight.destinations.forEach(function(d) { %>

                                    <tr>
                                        <td>
                                            <%= d.createdAt.toLocaleDateString() %>
                                        </td>
                                        <td>
                                            <%= d.airport %>
                                        </td>
                                        <td>
                                            <%= d.arrival %>
                                        </td>
                                    </tr>
                                    <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Destinations Yet</h5>
                <% } %>

                <div class="tickets-heading">Tickets</div>
<div class="ticket-list-container">
    <a id="add-ticket" href="/flights/<%= flight._id%>/tickets/new">Add ticket</a>
    
    <% if (ticket.length) { %>
        <table class="tickets-table">
            <thead>
                <tr>
                    <th class="destHead">Seat</th>
                    <th class="destHead">Price</th>
                </tr>
            </thead>
            <% ticket.forEach(function(t) { %>
                <tbody>
                    <tr>
                        <td>
                            <%= t.seat %>
                        </td>
                        <td>
                            <%= t.price %>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
                <% } else { %>
                    <h5>No tickets yet</h5>
                    <% } %>
        </table>
</div>

    </body>