<%- include('../partials/header') %>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https: //cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <title>Mongoose Flights</title>

        <section>
            <div class="show-details-head">Airline:</div>
            <div>
                <%= flight.airline%>
            </div>
            <div class="show-details-head">Airport:</div>
            <div>
                <%= flight.airport %>
            </div>
            <div class="show-details-head">Flight No.:</div>
            <div>
                <%= flight.flightNo %>
            </div>
            <div class="show-details-head">Departs:</div>
            <div>
                <%= flight.departs %>
            </div>
        </section>

        <h2>Choose Destination</h2>
        <form id="destination-form" method="POST" action="/flights/<%= flight._id%>/destinations">
            <label>Airport:</label>
            <select name="airport">
                <option value="ICN" selected>ICN</option>
                <option value="SFO">SFO</option>
                <option value="KUL">KUL</option>
                <option value="LAX">LAX</option>
                <option value="HKG">HKG</option>
            </select>
            <label>Arrival:</label>
            <input name="arrival" type="datetime-local">
            <input type="submit" value="Choose Destination">
        </form>

        <% if (flight.destinations.length) { %>
            <table>
                <thead>
                    <tr>
                        <th class="destHead">Date</th>
                        <th class="destHead">Airport</th>
                        <th class="destHead">Arrival</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Sort array by arrival -->
                    <% flight.destinations.sort(function(a,b) { %>
                        <% return (a.arrival - b.arrival) %>
                            <% }) %>
                                <% flight.destinations.forEach(function(d) { %>

                                    <tr>
                                        <td>
                                            <%= d.createdAt.toLocaleDateString() %>
                                        </td>
                                        <td>
                                            <%= d.airport %>
                                        </td>
                                        <td>
                                            <%= d.arrival %>
                                        </td>
                                    </tr>
                                    <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Destinations Yet</h5>
                <% } %>

                    <a id="addTicket" href="/flights/<%= flight._id%>/tickets/new">Add ticket</a>
                    <% if (ticket.length) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th class="destHead">Seat</th>
                                    <th class="destHead">Price</th>
                                </tr>
                            </thead>
                            <% ticket.forEach(function(t) { %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= t.seat %>
                                        </td>
                                        <td>
                                            <%= t.price %>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                                <% } else { %>
                                    <h5>No tickets yet</h5>
                                    <% } %>
                        </table>

    </body>